@model List<FriendsMess.Models.ContactList>
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_ViewOnly.cshtml";
}

<h2 style="text-align: center;margin-top: 10px;">Important Contacts</h2>
@if (Model.Count > 0)
{
    <div class="jumbotron" style="margin-top: 0%; background-color: crimson">
        <hr/>
        @foreach (var con in Model)
        {
            <div style="float: left;">
                <img src="~/Images/@con.ImageUrl" onerror="this.onerror = null; this.src = '/Images/meal.jpg';" style="border-radius: 50%; padding: 10px;" width="150px;" height="150px;" />
            </div>
            <div>
                @con.Name <b>(@con.Role)</b>
                @if (con.Email != null)
                {
                    <p><span class="glyphicon glyphicon-envelope"></span> @con.Email
                    </p>
                }
                @if (con.PhoneNumber != null)
                {
                    <p><span class="glyphicon glyphicon-earphone"></span> @con.PhoneNumber
                    </p>
                }
                @if (con.Location != null)
                {
                    <p>Dhaka, Bangladesh</p>
                }
            </div>
            <div class="clearfix"></div>
            <hr />

        }
        

    </div>
}
else
{
    <div style="margin-top: 7%;background: brown" class="jumbotron">
        <h3>No Contacts yet !</h3>
    </div>
}
