body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 120%;
    font-family: 'Roboto Condensed', sans-serif;
    background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../Images/meal.jpg) no-repeat 0px 0px fixed;
    background-size: cover;
    color: #FFFFFF;
}

.bannerImage{
    
}
body table tr td a {
    color: white;
}

body table tr td a:hover {
    color:aqua;
}

.bootbox-confirm div div{
    background-color:darkred;
}


.cleardown:after {
    content: "";
    display: table;
    clear: both;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: yellowgreen;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid red;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
    text-align: right;
    color: yellowgreen;
}

.validation-summary-valid {
    display: none;
}

