@model List<FriendsMess.Models.Meal>
@{
    ViewBag.Title = "Meals";
    var totalMeal = 0;
}

<h2 style="text-align: center;color: white">Meals of @ViewBag.member</h2>
@if (Model.Count > 0)
{
<div>
    <table id="DetailedMeal" class="table table-hover">
        <thead>
        <tr style="background-color: #2f4f4f;color: burlywood">
            <th>Day</th>
            <th>Meal number</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var day in Model)
        {
            try
            {
                totalMeal += (int)day.MealNo;
            }
            catch (Exception e)
            {
                Console.WriteLine("There was some problem while converting meals into integer!");
            }
            <tr>
                <td>@day.DayNoId.ToLongDateString()</td>
                <td><span class="glyphicon glyphicon-cutlery"></span> @day.MealNo </td>
            </tr>
        }
            <tr>
                <td style="text-align: right">Total:</td>
                <td style="font-weight: bold"><span class="glyphicon glyphicon-cutlery"></span> @totalMeal</td>
            </tr>
        </tbody>
    </table>
</div>

}
else
{
    <div style="margin-top: 7%;background: brown" class="jumbotron">
        <h3>No Meals yet !</h3>
    </div>
}
@section scripts{
    <script>
        //$(document).ready(function() {
        //    $("#DetailedMeal").DataTable();
        //});
    </script>
}